.hero-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-background {
  text-align: center;
  background-color: #abacb2;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-dark {
  color: #0b1011;
}

.overlay-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.content-center {
  position: relative;
  z-index: 2;
}

.title-brand {
  text-align: center;
}

.hero-title {
  font-size: 5em;
  font-weight: bold;
  font-size: 8em;
  font-weight: 700;
  margin: 0;
  letter-spacing: 5px;
  color: #ffffff;
  background: #fbf8ec;
  background: -moz-linear-gradient(top, #ffffff 35%, #4e6773 100%);
  background: -webkit-linear-gradient(top, #ffffff 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #ffffffa7 35%, #4e6773 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 29px 29px 49px rgba(95, 241, 97, 0.215); */
}

.hero-subtitle {
  margin-top: 40px;
  font-size: 1.6em;
  letter-spacing: 2px;
  color: #ffffff97;
  font-weight: 200;
  /* text-shadow: 29px 29px 49px rgb(241, 95, 95); */
}

.fog-low {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50vw) scale(1.5);
  width: 110%;
  opacity: 0.25;
  /* animation: fogfloat 10s linear infinite; */
}

.right {
  right: 50px;
}

.moving-clouds {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.95;
  animation: move 60s linear infinite;
}

/* .btn-round {
  padding: 15px 30px;
  border-radius: 50%;
  font-size: 1.2em;
  width: 15vw;
  color: #04fb19;
  background-color: #15ff00;
} */

.contact-btn-round {
  background-color: #ffcc002d;
  outline: none;
  border: none;
  /* color: #ffcc00; */
  padding: 0.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}


@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes fogfloat {
  from {
    transform: translateX(100vw); /* Start far right */
  }
  to {
    transform: translateX(-100vw); /* End far left */
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 4em;
  }

  .hero-subtitle {
    font-size: 1.2em;
  }
  .fog-low {
    transform: translateX(0);
    left: 0;
  }
  .moving-clouds {
    animation: none;
  }
  .hero-background {
    background-size: cover;
    background-position: center center;
  }
  .hero-wrapper {
    height: auto;
    padding-bottom: 100px;
  }
  .content-center {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .title-brand {
    margin-top: 20px;
  }
  .hero-title {
    font-size: 2em;
  }
  .hero-subtitle {
    font-size: 1em;
  }
  .right {
    right: 0;
  }
  /* .moving-clouds {
    background-image: url(moving_clouds_small.png);
  } */
}
