.hero-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-background {
  text-align: center;
  background-color: #abacb2;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-size: 100%; */
  /* background-repeat: no-repeat; */
  /* background-position: center top; */
  /* animation: zoom 5s forwards; */
}
/* @keyframes zoom {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 105%;
  }
} */

.section-dark {
  color: #0b1011;
}

.overlay-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.content-center {
  position: relative;
  z-index: 2;
}

.hero-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  left: 0;
  right: 0;
  margin: auto;
}

.title-brand {
  text-align: center;
  min-width: 85vw;
}

.hero-title {
  font-weight: bold;
  font-size: 8em;
  font-weight: 700;
  letter-spacing: 5px;
  color: #ffffff;
  background: #fbf8ec;
  background: -moz-linear-gradient(top, #ffffff 35%, #2d2d2d 100%);
  background: -webkit-linear-gradient(top, #ffffff 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #ffffffa7 35%, #4e6773 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeInText 2s ease-in forwards;
}

.hero-subtitle {
  font-size: 1.6em;
  letter-spacing: 2px;
  text-transform: lowercase;
  color: #ffffff97;
  font-weight: 200;
  text-shadow: 0px 10px rgba(0, 0, 0, 0.15);
  animation: fadeInText 4s ease-in forwards;
}

.revealed {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contact-btn {
  margin-top: 5vh;
  outline: none !important;
  border: none !important;
  padding: 0.5em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  min-height: 4vh;
  min-width: 8vw;
  text-align: center;
  font-size: 1.5em;
  font-weight: 800;
  color: #fdfbf9b0;
}

.contact-btn:hover {
  background-color: #11ff00 !important;
  color: #050505 !important;
}

/*! Fog cloud animation/stylings */
.fog-low {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50vw) scale(1.5);
  width: 110%;
  opacity: 0.25;
  /* animation: fogfloat 30s linear infinite; */
}

.right {
  right: 50px;
}

.moving-clouds {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.95;
  animation: move 60s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes fogfloat {
  from {
    transform: translateX(100vw); /* Start far right */
  }
  to {
    transform: translateX(-100vw); /* End far left */
  }
}

/* @media (min-width: 1024px) {
  .hero-background {
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: zoom 5s forwards;
  }
} */

@media (max-width: 768px) {
  .hero-title {
    font-size: 4em;
  }

  .hero-subtitle {
    font-size: 1.2em;
  }
  .fog-low {
    transform: translateX(0);
    left: 0;
  }
  .moving-clouds {
    animation: none;
  }
  .hero-background {
    background-size: cover;
    background-position: center center;
  }
  .hero-wrapper {
    height: auto;
    padding-bottom: 100px;
  }
  .content-center {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .title-brand {
    margin-top: 20px;
  }
  .hero-title {
    font-size: 2em;
  }
  .hero-subtitle {
    font-size: 1em;
  }
  .right {
    right: 0;
  }
  /* .moving-clouds {
    background-image: url(moving_clouds_small.png);
  } */
}
