.navbar-transparent {
  background-color: transparent !important;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  text-align: center;
}

.navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  font-size: 1.5em;
  transition: all 0.2s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffcc00 !important;
}

.navbar-logo {
  font-size: 1.5em;
  font-weight: 800;
  margin: 5px 0px;
  padding: 20px 15px;
  color: #fdfbf9b0;
  text-transform: uppercase;
}

.car {
  position: absolute;
  top: 10px;
  width: 100px;
  height: auto;
  transform: translateX(-100vw); /* Start far left */
  animation: drive-in 4s ease-out forwards;
}

/* Ensures the car stays at the left after animation */
.car-stopped {
  animation: none;
  transform: translateX(0) !important;
}

@keyframes drive-in {
  from {
    transform: translateX(-100vw); /* Start far left */
  }
  to {
    transform: translateX(0);
  }
}

.btn-round {
  background-color: #ffcc002d;
  outline: none;
  border: none;
  color: #ffcc00;
  padding: 0.5em;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

#spotify-icon {
  color: #137c15;
  font-size: 2em;
  opacity: 1;
  border-radius: 50%;
  /* box-shadow: 0px 0px 5px #05f605; */
  box-shadow: 0px 0px 5px #05f605, 0px 0px 5px #05f605, 0px 0px 5px #05f605;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 5px #05f605, 0px 0px 5px #05f605, 0px 0px 5px #05f605;
  }
  100% {
    box-shadow: 0px 0px 10px #05f605, 0px 0px 10px #05f605, 0px 0px 10px #05f605;
  }
}

.nav-open {
  background-color: rgba(0, 0, 0, 0.8);
}
