body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.animation-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
#rv {
    position: absolute;
    left: -200px;
    bottom: 50px;
    width: 250px;
}
#smoke {
    position: absolute;
    left: 50%;
    bottom: 60px;
    width: 100px;
    opacity: 0;
}
#spotify-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
#spotify-link img {
    width: 80px;
}
